.acc-wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.acc-wrapper button {
    padding: 5px;
    cursor: pointer;
    background-color: lightcoral;
}

.accordian {
    width: 500px;
}

.item {
    background-color: lightcoral;
    padding: 10px;
    margin: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}