.image-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}

.image-box {
    border: 2px solid black; 
    margin: 20px;  
}

img {
    width: 400px;
    height: 300px;
}

.button-grp {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: black;
}
