.si-top-container {
   position: fixed;
   top: 0;
   z-index: 1;
   width: 100%;
   text-align: center;
   background-color: darkgreen;
}

.si-heading {
    color: cadetblue;
}

.current-progress-bar {
    background: red;
    height: 10px;
}

.scroll-progress-indicator {
    width: 100%;
    height: 10px ;
    background-color: blueviolet;
}

.data-container {
    margin-top: 100px;
    text-align: center;
}